@import "colors";

.btn {
  margin-top: 11px;
  width: 144px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: $green20;
  color: $white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}

.hero {
  // margin: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1152px;
  position: relative;
  .content {
    background-color: $green20;
    width: 300px;
    height: 700px;
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: -1;
  }
}

.header {
  /*     display: flex;
    flex-direction: row; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1152px;
  padding-block-start: 37px;
  .wrapper {
    // margin-block-start: 37px;
    margin-inline: 52px;
    .header-content {
      header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        nav {
          ul {
            display: flex;
            flex-direction: row;
            li {
              margin-left: 30px;
              text-transform: uppercase;
              font-weight: 500;
              font-size: 10px;
              letter-spacing: 1.8px;
            }
          }
        }
      }
    }
  }
}

.main {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1152px;
    .main__content {
      &-head {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .info {
          // border: 1px solid red;
          margin-inline-start: 70px;
          margin-block-start: 163px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .text-info {
            h2 {
              font-size: 44px;
              font-weight: bold;
              span {
                color: $green20;
              }
            }
            p {
              width: 375px;
              margin-top: 11px;
              font-size: 12px;
              font-weight: 400;
              letter-spacing: 1px;
              color: #616161;
            }
          }

          .video {
            // border: 1px solid palegreen;
            margin-block-start: 147px;
            height: 44px;
            display: flex;
            justify-content: start;
            align-items: center;
            span {
              margin-left: 14px;
              font-size: 9px;
              font-weight: 300;
              letter-spacing: 2px;
              line-height: 1px;
              text-transform: uppercase;
            }
          }
        }
        .image {
          // border: 1px solid blue;
          margin-inline-end: 54px;
          margin-block-start: 90px;
        }
      }

      &-staysafe {
        // border: 1px solid red;
        margin-block-start: 67px;
        display: grid;
        grid-template-columns: repeat(2, 2fr);

        .phone {
          position: relative;
          .content-background {
            position: absolute;
            width: 147px;
            height: 147px;
            background: $green20;
            border-radius: 30px;
            margin-block-start: 60px;
            margin-inline-start: 100px;
            z-index: -1;
          }
          .content {
            height: 640px;
            width: 360px;
            background: $white;
            border: 3px solid $green20;
            border-radius: 20px;
            margin-inline-start: 126px;
            margin-block-end: 41px;
            text-align: center;
            // z-index: 99;

            .image {
              height: 260px;
              width: 260px;
              // border: 1px solid #c4c4c4;
              border-radius: 50%;
              overflow: hidden;
              margin-top: 98px;
              margin-left: 50px;
              box-shadow: 1px 10px 15px -3px rgba(96, 96, 96, 0.3);
              -webkit-box-shadow: 1px 10px 15px -3px rgba(96, 96, 96, 0.3);
              -moz-box-shadow: 1px 10px 15px -3px rgba(96, 96, 96, 0.3);
              img {
                width: 150px;
                height: 238px;
                vertical-align: top;
                margin-top: 35px;
              }
            }

            h3 {
              font-size: 32px;
              font-weight: 500;
              color: #262626;
              margin-top: 24px;
            }
            p {
              font-size: 15px;
              color: #262626;
              line-height: 22px;
              font-weight: 300;
              letter-spacing: 0.5px;
              margin-left: 18px;
              margin-right: 18px;
              padding-left: 20px;
              padding-right: 20px;
            }

            .dots {
              margin-top: 92px;
              margin-bottom: 15px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              .dot {
                text-decoration: none;
                height: 5px;
                width: 5px;
                background-color: #e4e4e4;
                margin-right: 5px;
                border-radius: 50%;
                &:nth-child(2) {
                  background: $green20;
                }
              }
            }
          }
        }

        .text-info {
          .content {
            margin-inline-start: 100px;
            margin-inline-end: 186px;
            margin-block-start: 230px;
            h2 {
              font-size: 44px;
              font-weight: bold;
              span {
                color: $green20;
              }
            }
            p {
              width: 375px;
              margin-top: 11px;
              font-size: 12px;
              font-weight: 400;
              letter-spacing: 1px;
              color: #616161;
            }
          }
        }
      }

      &-score {
        // border: 1px solid red;
        // height: 700px;
        .wrapper {
          // border: 1px solid blue;
          // height: 100%;
          background: #fafbfd;
          padding-block-end: 120px;
          .score {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 2fr);
            grid-template-areas: "numbers numbers" "text_info card_video";
            // justify-content: center;
            // align-items: center;

            .numbers {
              position: relative;
              grid-area: numbers;
              justify-self: center;
              align-self: center;
              // border: 1px solid red;

              .card {
                position: relative;
                // border: 1px solid red;
                width: 655px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background: $white;

                border-radius: 16px;
                padding-top: 28px;
                padding-bottom: 28px;
                padding-left: 65px;
                padding-right: 65px;

                box-shadow: 0 2px 24px rgba(88, 126, 236, 0.15);

                z-index: 999;
                .item {
                  h3 {
                    color: $green20;
                    font-size: 36px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    text-align: center;
                  }
                  p {
                    margin: 0;
                    color: $black;
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                    text-align: center;
                  }
                }
              }

              .rectangle {
                background: $green20;
                border-radius: 30px;
                position: absolute;
                &:first-child {
                  border-radius: 16px;
                  width: 65px;
                  height: 65px;
                  bottom: -15px;
                  left: -24px;

                  -webkit-transform: rotate(30deg);
                  -moz-transform: rotate(30deg);
                  -o-transform: rotate(30deg);
                  -ms-transform: rotate(30deg);
                  transform: rotate(30deg);
                }

                &:nth-child(2) {
                  width: 96px;
                  height: 96px;

                  -webkit-transform: rotate(105deg);
                  -moz-transform: rotate(105deg);
                  -o-transform: rotate(105deg);
                  -ms-transform: rotate(105deg);
                  transform: rotate(105deg);
                  top: -40px;
                  left: 280px;
                }

                &:nth-child(3) {
                  width: 127px;
                  height: 127px;
                  top: 0;
                  right: 0;

                  -webkit-transform: rotate(-105deg);
                  -moz-transform: rotate(-105deg);
                  -o-transform: rotate(-105deg);
                  -ms-transform: rotate(-105deg);
                  transform: rotate(-105deg);

                  top: -9px;
                  right: -55px;
                }
              }
            }

            .text-info {
              grid-area: text_info;
              align-self: center;
              .content {
                width: 420px;
                margin-inline-start: 92px;

                h2 {
                  font-size: 44px;
                  line-height: 126%;
                  font-weight: bold;
                  span {
                    color: $green20;
                  }
                }

                p {
                  width: 363px;
                  font-size: 12px;
                  color: #616161;
                  font-weight: 300;
                  line-height: 138.5%;
                  letter-spacing: 1px;
                  margin-top: 16px;
                }
              }
            }

            .card-video {
              grid-area: card_video;
              align-self: center;
              justify-self: center;

              background: $white;
              border-radius: 8px;
              width: 521px;
              height: 284px;
              margin-inline-end: 71px;

              box-shadow: 0 4px 18px rgba(88, 126, 236, 0.15);

              .images {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                .fondo {
                  margin-top: 24px;
                  height: 100%;
                }
                .play {
                  position: absolute;
                  top: 50%;
                }
              }
            }
          }
        }
      }

      &-cards {
        .wrapper {
          margin-bottom: 100px;
          .content {
            display: flex;
            flex-direction: column;
            &__header {
              // background: red;
              justify-content: center;
              align-self: center;
              width: 487px;
              margin-block-start: 40px;
              h3 {
                font-size: 44px;
                font-weight: bold;
                text-align: center;
                line-height: 126%;
                span {
                  color: $green20;
                }
              }

              p {
                margin: 0;
                font-size: 12px;
                color: #616161;
                line-height: 138.5%;
                letter-spacing: 2px;
                padding-top: 16px;
                padding-bottom: 52px;
                text-align: center;
              }
            }

            &__cards {
              // border: 1px solid red;
              position: relative;

              &-items {
                position: relative;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-content: center;
                align-items: center;
                align-content: center;
                // padding-block-end: 75px;
                margin-inline: 87px;

                .card {
                  justify-self: center;
                  max-width: 278px;
                  height: 276px;
                  text-align: center;
                  // border: 1px solid red;
                  border-radius: 8px;
                  background: $white;
                  box-shadow: 0 4px 18px rgba(88, 126, 236, 0.18);
                  img {
                    width: 65px;
                    height: 72px;
                    margin-block-start: 36px;
                    margin-block-end: 58px;
                  }

                  h4 {
                    font-size: 16px;
                    line-height: 138.5%;
                    letter-spacing: 1px;
                  }
                  p {
                    margin: 0;
                    padding-block-start: 6px;
                    padding-inline: 17px;
                    font-size: 12px;
                    line-height: 138.5%;
                    letter-spacing: 1px;
                    color: #616161;
                  }
                }
              }

              .rectangle {
                position: absolute;
                background: $green20;
                border-radius: 16px;

                &:nth-child(1) {
                  height: 65px;
                  width: 65px;
                  left: 90px;
                  bottom: -30px;
                  transform: rotate(-30deg);
                }
                &:nth-child(2) {
                  width: 96px;
                  height: 96px;
                  top: 31px;
                  left: 325px;
                  transform: rotate(105deg);
                }
                &:nth-child(3) {
                  width: 127px;
                  height: 127px;
                  right: 368px;
                  bottom: -25px;
                  transform: rotate(-30deg);
                }
                &:nth-child(4) {
                  width: 65px;
                  height: 65px;
                  top: -35px;
                  right: 96px;
                  transform: rotate(-30deg);
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  .wrapper {
    padding-block-end: 40px;
    .footer-content {
      display: flex;
      justify-content: center;
      align-items: center;
      // height: 66px;
      img {
        height: 100%;
        &:first-child {
          margin-right: 56px;
        }
      }
    }
  }
}
